.videos-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.videos-section-header {
  max-width: 640px;
  margin: 0 auto 2rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .videos-section-header {
    font-size: 1.5rem;
  }
}

/* "Automagic" image grid using no media queries */
.videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .videos-section {
    padding: 6rem 1rem;
  }

  .videos-grid {
    grid-template-columns: 1fr;
  }
}

.video {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.video:hover .code {
  color: #ff7f50;
}

.video-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.video-title {
  font-size: 1.3rem;
  padding: 0.7rem 0.5rem;
}
